<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/lodash.min.js"></script>
    <script src="/static/js/raphael-min.js"></script>
    <script src="/static/js/sequence-diagram-min.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">java-tracer</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">home</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="btn btn-default input-group-addon sequence-op" name="fast-back" data-toggle="tooltip" data-placement="left" title="back to init">
                        <i class=" glyphicon glyphicon-fast-backward"></i>
                    </span>
                    <span class="btn btn-default input-group-addon sequence-op" name="step-back" data-toggle="tooltip" data-placement="bottom" title="backward">
                        <i class=" glyphicon glyphicon-step-backward"></i>
                    </span>
                    <input class="form-control sequence-op" name="depth-value" value="2" data-toggle="tooltip" data-placement="bottom" title="invoke depth">
                    <div class="input-group-btn-vertical">
                        <span class="btn btn-default sequence-op" name="depth-add" data-toggle="tooltip" data-placement="top" title="add">
                            <i class="glyphicon glyphicon-chevron-up"></i>
                        </span>
                        <span class="btn btn-default sequence-op" name="depth-sub"  data-toggle="tooltip" data-placement="bottom" title="substract">
                            <i class="glyphicon glyphicon-chevron-down"></i>
                        </span>
                    </div>
                    <span class="btn btn-default input-group-addon sequence-op" name="filter-classes" data-toggle="modal" data-target="#packageModel">
                        <span data-toggle="tooltip" data-placement="bottom" title="filter classes">
                            <i class=" glyphicon glyphicon-filter"></i>
                        </span>
                    </span>
                    <span class="btn btn-default input-group-addon sequence-op" name="filter-classes" data-toggle="modal" data-target="#classModel">
                        <span data-toggle="tooltip" data-placement="bottom" title="class list">
                            <i class=" glyphicon glyphicon-list"></i>
                        </span>
                    </span>
                    <span class="btn btn-default input-group-addon" target>
                        <a href=""> xml </a>
                    </span>
                </div>
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="jumbotron big-content">
                    <div id="sequence"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="packageModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">set packages to ignore</h4>
                </div>
                <div class="modal-body">
                    <div class="jumbotron big-content">
                        <div id="packages"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm">ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal fade" id="classModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">class list</h4>
                </div>
                <div class="modal-body">
                    <div class="jumbotron big-content">
                        <div id="classes"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm">ok</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script src="/static/js/sequence.js"></script>
    <script>
        init(${id});
    </script>
</div>
</body>
</html>