<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/home.css?v=1.2" media="print">
</head>

<body>
<div class="row clearfix">
    <div class="col-md-12 column">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">java-tracer</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/index">index</a></li>
                        <li class="active"><a href="/class">class</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="list-group">

        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">
                system info
            </h4>
        </a>
        <div class="list-group-item" id="form_set">
            <div class="list-group-item" target="_blank">
                <div class="row clearfix list-item-inline">
                    <div class="col-md-10 column">
                        <div class="input-group col-md-7">
                            <span class="input-group-addon">include:</span>
                            <label type="text" class="form-control" name="include"></label>
                        </div>
                    </div>
                    <div class="col-md-1 column btn-group-sm">
                        <button class="btn btn-primary" type="button"  data-toggle="modal" data-target="#myModal" id="class_set">
                            <span class="glyphicon glyphicon-edit"></span> set
                        </button>
                    </div>
                </div>
            </div>

            <div class="list-group-item" target="_blank">
                <div class="row clearfix list-item-inline">
                    <div class="col-md-10 column">
                        <div class="input-group col-md-7">
                            <span class="input-group-addon">exclude:</span>
                            <label type="text" class="form-control" name="exclude"></label>
                        </div>
                    </div>
                    <div class="col-md-1 column btn-group-sm">
                        <button class="btn btn-info" type="button" name="auto_refresh" id="class_refresh">
                            <span class="glyphicon glyphicon-search"></span> refresh
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item" target="_blank">
            <div class="row clearfix">
                <div class="col-md-12">
                    <form class="form-inline">
                        <a href="/thread/get.xml" class="btn btn-success btn-sm" target="_blank" style="margin-right: 10px;">thread info</a>
                        <a href="/class/get.xml" class="btn btn-success btn-sm" target="_blank">class detail</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">classes to weave</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">include</span>
                        <input type="text" class="form-control" placeholder="prefix to include" name="model_include">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">exclude</span>
                        <input type="text" class="form-control" placeholder="prefix to exclude" name="model_exclude">
                    </div>
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="class_confirm">submit</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="/static/js/home.js">
    $('#class_refresh').click();
</script>
</body>
</html>