<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/home.css?v=1.2" media="print">
</head>

<body>
<div class="row clearfix">
    <div class="col-md-12 column">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">java-tracer</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/index">index</a></li>
                        <li><a href="/class">class</a></li>
                        <li class="active"><a href="/package">package</a></li>
                        <li><a href="/invoke">invoke</a></li>
                        <li><a href="/unload">unload</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">
                package statistics
            </h4>
        </a>
        <div class="list-group-item">
            <div class="row clearfix">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">loader:</span>
                        <label class="form-control" id="loader_count">0</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">classes:</span>
                        <label class="form-control" id="total_classes">0</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">woven:</span>
                        <label class="form-control" id="total_woven" style="color:#5cb85c">0</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">not woven:</span>
                        <label class="form-control" id="total_notwoven" style="color:#D9534F">0</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <div class="row clearfix">
                <div class="col-md-12">
                    <button class="btn btn-info btn-sm" id="refresh_btn">
                        <span class="glyphicon glyphicon-refresh"></span> refresh
                    </button>
                    <a href="/package/get.xml" class="btn btn-success btn-sm" target="_blank" style="margin-left: 10px;">
                        <span class="glyphicon glyphicon-download"></span> xml
                    </a>
                </div>
            </div>
        </div>
        <div class="list-group-item" id="tree_container">
            <div id="package_tree"></div>
        </div>
    </div>
</div>

<script src="/static/js/package.js?v=1"></script>
</body>
</html>